/* Base Styles */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
}

label {
  margin: 10px 0;
  font-size: 15px;
}

/* Header Styles */

.main-header > h1{
  background-color: darkslategrey;
  padding: 35px;
  margin-top: 0;
  font-size: 25px;
  color: white;
}

/* Main Content Styles */

.main-container > h2,
.contact-info,
.newsletter {
  margin-top: 30px;
}

.main-container {
  margin: 0 auto;
  width: 90%;
}

.main-container h2,
.contact-info legend,
.newsletter legend {
  font-size: 21px;
  font-weight: bold;
}

.main-container p {
  font-size: 15px;
  width: 90%;
  margin: 0 auto;
}

.main-form {
  border-top: 9px double black;
  margin-top: 40px;
  background-color: honeydew;
}

.main-container > h2,
.main-container > p,
.main-container > h1,
.main-header > h1,
span {
  text-align: center;
}

input[name="user-zipcode"]  {
  display: block;
  width: 100px;
}

span {
  margin-top: 50px;
}

/* Contact Information Styles */

.contact-info input,
select {
  height: 40px;
}

.contact-info input,
textarea,
select {
  margin: 10px 0;
  background-color: ghostwhite;
}

.contact-info input:focus,
textarea:focus,
select:focus {
  box-shadow: 0px 0px 5px darkslategrey;
  background-color: rgba(220, 220, 220, 0.2);
  transition-duration: .4s;
}

.contact-info legend {
  margin-bottom: 15px;
}

.contact-info input[name="user-zipcode"] {
  width: 33%;
}

.contact-info input,
textarea,
select {
  width: 100%;
  resize: none;
  border-style: none;
  background-color: gainsboro;
}

.contact-info label,
span {
  display: block;
}

/* Newsletter Styles */

.newsletter,
.contact-info {
  border-style: none;
  padding: 0px;
}

.newsletter legend {
  border-top: 3px solid black;
  padding-top: 30px;
  margin: 10px 0;
  width: 100%;
}

.newsletter label:not([class="topic-lbl"]) {
  margin-left: 5px;
}

.newsletter label[class="topic-lbl"] {
  display: block;
}

.choice {
  margin-bottom: 15px;
  font-size: 14px;
}

.button {
  padding: 14px 0;
  background-color: darkcyan;
  color: white;
  width: 100%;
  font-size: 20px;
  margin-top: 40px;
}

/* DRY Classes */

.b-round {
  border-radius: 5px;
}

.indent {
  text-indent: 15px;
}

/* Media Queries */

@media (min-width: 769px) {
  .main-container {
    width: 50%;
    min-width: 768px;
  }

  .contact-info input,
  .contact-info select,
  .contact-info label {
    display: inline-block;
  }

  .contact-info input,
  .contact-info select {
    width: 79.4%;
  }

  .contact-info input[name="user-zipcode"] {
    width: 25%;
  }

  .contact-info label {
    width: 20%;
  }

}
